* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* C A B E Ç A L H O */

header,                 /*Tudo que estiver na header recebera esta fonte*/
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 14px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;  /* remove underline dos links*/
}

.container {                /* .container é colocado no arquivo index, logo após o "header", para incluir o div. As formatações no CSS ocorrerão através do comando ".container"  */
    max-width: 1024px;      
    width: 100%;            /* Ocupação da largura até chegar na largura maxima. Passando dos 1280, centraliza tudo */
    margin: 0 auto;
}

header .container,
section .container {         /* Reposicionando os links (containers) do HEADER (cabeçalho) e da SECTION (corpo do texto), alterando o container dentro do header */
    display: flex;
    align-items: center;    /* Centraliza a altura dos links */
    justify-content: space-between; /* Joga (justifica) os links pra extrema direita */
}

.brands-list img {         /* no idex foi criada uma nova regra chamada brand-list para as imagens dos logos */
    height: 24px;
    margin-right: 8px;
}

.brands-list li {           /* Elementos de lista */
    display: inline;        /* ao inves de quebrar um por linha, deixar um ao lado do outro */
}

section .container {
    align-items: flex-start;    /* SECTION foi configurada junto ao header, mas a regra do alinhamento foi reescrita aqui, para o topo */
}

section {
    padding: 24px 0;        /* superior/inferiro e laterais */
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    max-width: 500px;
    width: 100%;
}

/* F O R M U L A R I O   E   R O D A   P E */

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    justify-content: space-between;
    display: flex;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {                 /* Altera a cor do botao ENVIAR ao passar o mouse */
    background-color: #5267a0;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    outline-color: #182c61;
    color:#ecf0f1;
    padding: 16px 0;
}